<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2013. Sopandev Tewari, Recex
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.recex.detainseventyfive"
    android:versionCode="2"
    android:versionName="0.0.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Detain75"
        android:theme="@style/AppTheme" >
        <activity
            android:name="in.co.recex.detainseventyfive.HomeScreenActivity"
            android:label="Detain75" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.co.recex.detainseventyfive.NewCourseActivity"
            android:label="Detain75" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.co.recex.detainseventyfive.DialogShowActivity"
            android:label="Detain75" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.co.recex.detainseventyfive.NextScreenActivity"
            android:label="Detain75" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.co.recex.detainseventyfive.ChangeEndDate"
            android:label="@string/title_activity_change_end_date" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.co.recex.detainseventyfive.DetailShowActivity"
            android:label="@string/title_activity_detail_show" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name="in.co.recex.detainseventyfive.BroadcastRec" >
        </receiver>
        <service android:name="in.co.recex.detainseventyfive.NotificationGenerator">
        </service>
        <activity
            android:name="in.co.recex.detainseventyfive.TodayAttActivity"
            android:label="@string/title_activity_today_att" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>
